<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>IM2019管理平台首页</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<!-- <body class="gray-bg"> -->
<body >
    <div class="row  border-bottom white-bg dashboard-header">
    
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;IM2019后台管理，已包含如下内容</h3>
        
        
1.  用户管理：用户是系统操作者，该功能主要完成系统用户配置。<br/>
2.  部门管理：配置系统组织机构（公司、部门、小组），树结构展现支持数据权限。<br/>
3.  岗位管理：配置系统用户所属担任职务。<br/>
4.  菜单管理：配置系统菜单，操作权限，按钮权限标识等。<br/>
5.  角色管理：角色菜单权限分配、设置角色按机构进行数据范围权限划分。<br/>
6.  字典管理：对系统中经常使用的一些较为固定的数据进行维护。<br/>
7.  参数管理：对系统动态配置常用参数。<br/>
8.  通知公告：系统通知公告信息发布维护。<br/>
9.  操作日志：系统正常操作日志记录和查询；系统异常信息日志记录和查询。<br/>
10. 登录日志：系统登录日志记录查询包含登录异常。<br/>
11. 在线用户：当前系统中活跃用户状态监控。<br/>
12. 服务监控：监视当前系统CPU、内存、磁盘、堆栈等相关信息。<br/>
13. 在线构建器：拖动表单元素生成相应的HTML代码。<br/>
14. 连接池监视：监视当前系统数据库连接池状态，可进行分析SQL找出系统性能瓶颈。<br/>
        
        

        
        
        </div>
  
   </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script type="text/javascript">
	    $('#pay-qrcode').click(function(){
	        var html=$(this).html();
	        parent.layer.open({
	            title: false,
	            type: 1,
	            closeBtn:false,
	            shadeClose:true,
	            area: ['600px', 'auto'],
	            content: html
	        });
	    });
    </script>
</body>
</html>
